{% extends "base.html" %}
{% block content %}
<div id='add_tweets'>
    <form action="add/" method="POST">
        {% csrf_token %}
        <input type="textarea" name="tweet" id="tweet" />
        <input type="Submit" name="Add Tweet" value="Add Tweet"></input>
    </form>
</div>
<div id="show_tweets">
    {% for post in all %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{post.ptext}}</p>
                <a href="#" class="card-link">post_user</a>
                <a href="#" class="card-link">{{post.cdate}}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}